{% extends "track/base.html" %} {% block title %}Add Food - Food Tracker
{%endblock %} {% block content %}
<h2>Add Food Item</h2>
<form method="post" novalidate>
  {% csrf_token %}
  <div class="mb-3">
    <label for="{{ form.name.id_for_label }}" class="form-label"
      >{{ form.name.label }}</label
    >
    {{ form.name }} {% if form.name.errors %}
    <div class="text-danger">{{ form.name.errors }}</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label for="{{ form.quantity.id_for_label }}" class="form-label"
      >{{ form.quantity.label }}</label
    >
    {{ form.quantity }} {% if form.quantity.errors %}
    <div class="text-danger">{{ form.quantity.errors }}</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label for="{{ form.quantity_unit.id_for_label }}" class="form-label"
      >{{ form.quantity_unit.label }}</label
    >
    {{ form.quantity_unit }} {% if form.quantity_unit.errors %}
    <div class="text-danger">{{ form.quantity_unit.errors }}</div>
    {% endif %}
  </div>
  <div class="mb-3 form-check">
    {{ form.is_surplus }}
    <label for="{{ form.is_surplus.id_for_label }}" class="form-check-label"
      >{{ form.is_surplus.label }}</label
    >
    {% if form.is_surplus.errors %}
    <div class="text-danger">{{ form.is_surplus.errors }}</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label for="{{ form.category.id_for_label }}" class="form-label"
      >{{ form.category.label }}</label
    >
    {{ form.category }} {% if form.category.errors %}
    <div class="text-danger">{{ form.category.errors }}</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label for="{{ form.donation_center.id_for_label }}" class="form-label"
      >{{ form.donation_center.label }}</label
    >
    {{ form.donation_center }} {% if form.donation_center.errors %}
    <div class="text-danger">{{ form.donation_center.errors }}</div>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Add Food</button>
</form>
{% endblock %}
